// 主题色
$primary-color: #31e5a0;
$primary-color-green: #92fe9d;
$primary-color-blue: #00c9ff;
$info-color: #3fa1fe;
$warning-color: #fbd444;
$error-color: #f2627b;

// 字体颜色
$font-color-primary: #333333;
$font-color-gary-2: #6c6c6c;
$font-color-gary-1: #b2b2b2;

// 边框颜色
$border-color-1: #979797;
$border-color-2: #e1e1e1;
